.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 88px;
  height: 108px;
  background: #aa0601;

  .header_menu {
    display: flex;
    justify-content: space-between;
    width: 512px;

    li {
      padding: 10px 0;
    }

    li a {
      font-size: 1.25rem;
      text-decoration: none;
      color: white;
    }
  }
}

.banner {
  height: 840px;
  background-position: center center;
  background-size: cover;
  background-image: url("../images/banner.png");
}

.container {
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
  max-width: 1224px;
  height: 100%;
}

.banner-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.slogan {
  font-size: 4rem;
  font-weight: 600;
  text-align: right;
  color: #650300;
  line-height: 6rem;
}

.slogan-sm {
  font-size: 2.25rem;
  line-height: 3.375rem;
}

.feature {
  padding: 4rem 0;
  background-color: #aa06010d;

  h2 {
    margin-bottom: 2.75rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #650300;
    line-height: 4.5rem;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    color: #650300;
    line-height: 36px;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.card-inside {
  display: flex;
  align-items: center;
  padding: 16px 0 24px;
  width: 25%;
  flex-direction: column;

  .card-title {
    margin-bottom: 5px;
  }

  p {
    max-width: 208px;
    text-align: left;
    line-height: 1.5rem;
  }
}

.img-wrap {
  margin-bottom: 40px;
  height: 100px;

  img {
    margin: 0 auto;
    max-width: 100px;
    height: 100%;
  }
}

.classic {
  padding: 4rem 0;
  background-color: #aa06010d;

  h2 {
    margin-bottom: 3.75rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #650300;
    line-height: 4.5rem;
  }
}

.photo-optical {
  background-image: url("../images/product-1.png");
}

.photo-sunglasses {
  background-image: url("../images/product-2.png");
}

.photo-functional {
  background-image: url("../images/product-3.png");
}

.product-photo {
  width: 792px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-optical,
.product-functional {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-sunglasses {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.mr24 {
  margin-right: 24px;
}

.ml24 {
  margin-left: 24px;
}

.product-name {
  display: flex;
}

.mr8 {
  margin-right: 8px;
}

.diamond {
  background-image: url("../images/icon-diamond.svg");
}

.sun {
  background-image: url("../images/icon-sun.svg");
}

.thunder {
  background-image: url("../images/icon-thunder.svg");
}

.product-icon {
  width: 48px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-text {
  font-size: 3rem;
  font-weight: 900;
  color: #aa0601;
  line-height: 4.5rem;
  text-transform: uppercase;
  font-style: italic;
}
